In [1]:
import pandas as pd
df1 = pd.read_excel("dognition_data_aggregated_by_dogid.xlsx")
df1.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_ID,Subscribed,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type
0,fd27b272-7144-11e5-ba71-058fbc01cf0b,21,28.201076,40609.549167,0.004687,6.750000,564.021516,812190.983333,ce134e42-7144-11e5-ba71-058fbc01cf0b,female,...,2.0,1.0,Grand Forks,ND,58201,US,0,0,2015-03-12 00:25:00,2
1,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,20,0.413307,595.162281,0.005845,8.416667,7.852836,11308.083333,ce1353d8-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Barre,MA,01005,US,0,0,00:00:00,1
2,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,2,0.009132,13.150000,0.009132,13.150000,0.009132,13.150000,ce135ab8-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Darien,CT,06820,US,0,0,00:00:00,1
3,fd27b79a-7144-11e5-ba71-058fbc01cf0b,11,56.115179,80805.858333,0.004433,6.383333,561.151794,808058.583333,ce13507c-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Winnetka,IL,60093,US,0,0,2014-09-12 19:26:00,1
4,fd27b86c-7144-11e5-ba71-058fbc01cf0b,31,7.734254,11137.326111,0.000399,0.575000,232.027627,334119.783333,ce135e14-7144-11e5-ba71-058fbc01cf0b,female,...,2.0,1.0,Raleigh,NC,27606,US,1,0,00:00:00,2

In [2]:
df2 = pd.read_excel('dognition_data_no_aggregation_with_zip_code_correction.xlsx')

df2

,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Gender,Birthday,Breed,Breed_Type,...,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type,Rating,Rank_by_UserID,Rank_by_DogID
0,2013-05-13 16:17:00,2013-05-13 16:17:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,1.0,1.0
1,2013-05-22 18:54:00,2013-05-22 18:54:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,2.0,2.0
2,2013-05-22 18:55:00,2013-05-22 18:55:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,3.0,3.0
3,2013-05-22 18:56:00,2013-05-22 18:56:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,4.0,4.0
4,2013-05-22 18:58:00,2013-05-22 18:58:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177476,2013-05-14 08:45:00,2013-05-14 08:45:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,One Cup Warm-up,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,12.0,12.0
177477,2013-05-14 08:50:00,2013-05-14 08:50:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Two Cup Warm-up,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,13.0,13.0
177478,2013-05-14 08:54:00,2013-05-14 08:54:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Memory versus Pointing,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,14.0,14.0
177479,2013-05-19 04:45:00,2013-05-19 04:45:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Memory versus Smell,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,15.0,15.0
177480,2013-05-19 05:05:00,2013-05-19 05:05:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Delayed Cup Game,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,16.0,16.0

In [3]:
columns_df1 = df1.columns
print("Column names for df1:", columns_df1)

Column names for df1: Index(['Dog ID', 'Total Tests Completed', 'Mean ITI (days)',
       'Mean ITI (minutes)', 'Median ITI (days)', 'Median ITI (minutes)',
       'Time diff between first and last game (days)',
       'Time diff between first and last game (minutes)', 'User ID', 'Gender',
       'Birthday', 'Breed', 'Breed_Type', 'Breed_Group', 'Weight', 'Dog_Fixed',
       'DNA_Tested', 'Dimension', 'Sign_in_Count', 'Max_Dogs', 'Membership_ID',
       'Subscribed', 'City', 'State', 'Zip', 'Country', 'Exclude',
       'Free_Start_User', 'Last_Active_At', 'Membership_Type'],
      dtype='object')

In [4]:
columns_df2 = df2.columns
print("Column names for df2:", columns_df2)

Column names for df2: Index(['Created_at', 'Updated_at', 'User_ID', 'Dog_ID', 'Test_name',
       'Subcategory_name', 'Gender', 'Birthday', 'Breed', 'Breed_Type',
       'Breed_Group', 'Weight', 'Dog_Fixed', 'DNA_Tested', 'Dimension',
       'Sign_in_Count', 'Max_Dogs', 'Membership_ID', 'Subscribed', 'City',
       'State', 'Zip', 'Country', 'Exclude', 'Free_Start_User',
       'Last_Active_At', 'Membership_Type', 'Rating', 'Rank_by_UserID',
       'Rank_by_DogID'],
      dtype='object')

In [12]:
# Select and display only the 'Dog ID' column from df1
dog_id_column_df1 = df1['Dog ID']
print(dog_id_column_df1.head())
# Select and display only the 'Dog ID' column from df2
dog_id_column_df2 = df2['Dog_ID']
print(dog_id_column_df2.head())

0    fd27b272-7144-11e5-ba71-058fbc01cf0b
1    fd27b5ba-7144-11e5-ba71-058fbc01cf0b
2    fd27b6b4-7144-11e5-ba71-058fbc01cf0b
3    fd27b79a-7144-11e5-ba71-058fbc01cf0b
4    fd27b86c-7144-11e5-ba71-058fbc01cf0b
Name: Dog ID, dtype: object
0    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
1    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
2    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
3    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
4    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
Name: Dog_ID, dtype: object

In [23]:
# Merge the dataframes on multiple columns
merged_df = pd.merge(df1, df2, left_on=['User ID','Dog ID', 'Gender', 'Birthday', 'Breed', 'Breed_Type', 'Breed_Group', 'Weight', 'Dog_Fixed', 'DNA_Tested', 'Dimension', 'Sign_in_Count', 'Max_Dogs', 'Membership_ID', 'Subscribed', 'City', 'State', 'Zip', 'Country', 'Exclude', 'Free_Start_User', 'Last_Active_At', 'Membership_Type'], right_on=['User_ID','Dog_ID', 'Gender', 'Birthday', 'Breed', 'Breed_Type', 'Breed_Group', 'Weight', 'Dog_Fixed', 'DNA_Tested', 'Dimension', 'Sign_in_Count', 'Max_Dogs', 'Membership_ID', 'Subscribed', 'City', 'State', 'Zip', 'Country', 'Exclude', 'Free_Start_User', 'Last_Active_At', 'Membership_Type'], how='inner', suffixes=('_df1', '_df2'))

# Display the merged dataframe
merged_df.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_Type,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Rating,Rank_by_UserID,Rank_by_DogID
0,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-10-10 18:47:00,2013-10-10 18:47:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,NaN,31.0,1.0
1,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-10-10 18:59:00,2013-10-10 18:59:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,NaN,32.0,2.0
2,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-10-10 19:00:00,2013-10-10 19:00:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,NaN,33.0,3.0
3,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2014-01-13 19:07:00,2014-01-13 19:07:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,NaN,36.0,4.0
4,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2014-01-21 22:33:00,2014-01-21 22:33:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,NaN,37.0,5.0

In [17]:
columns_merged_df = merged_df.columns
print("Column names for merged_df:", columns_merged_df)

Column names for merged_df: Index(['Dog ID', 'Total Tests Completed', 'Mean ITI (days)',
       'Mean ITI (minutes)', 'Median ITI (days)', 'Median ITI (minutes)',
       'Time diff between first and last game (days)',
       'Time diff between first and last game (minutes)', 'User ID', 'Gender',
       'Birthday', 'Breed', 'Breed_Type', 'Breed_Group', 'Weight', 'Dog_Fixed',
       'DNA_Tested', 'Dimension', 'Sign_in_Count', 'Max_Dogs', 'Membership_ID',
       'Subscribed', 'City', 'State', 'Zip', 'Country', 'Exclude',
       'Free_Start_User', 'Last_Active_At', 'Membership_Type', 'Created_at',
       'Updated_at', 'User_ID', 'Test_name', 'Subcategory_name', 'Rating',
       'Rank_by_UserID', 'Rank_by_DogID'],
      dtype='object')

In [18]:
# Sort the merged DataFrame by the 'Dog_Fixed' column
merged_df_sorted = merged_df.sort_values(by='Dog_Fixed')

# Display the sorted DataFrame
merged_df_sorted.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Last_Active_At,Membership_Type,Created_at,Updated_at,User_ID,Test_name,Subcategory_name,Rating,Rank_by_UserID,Rank_by_DogID
908,fd46ae84-7144-11e5-ba71-058fbc01cf0b,20,0.001270,1.828947,0.000868,1.250000,0.024132,34.750000,ce472c1c-7144-11e5-ba71-058fbc01cf0b,female,...,2014-05-23 16:15:00,2,2013-06-27 16:19:00,2013-06-27 16:19:00,ce472c1c-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,NaN,3.0,3.0
518,fd42a366-7144-11e5-ba71-058fbc01cf0b,42,9.532181,13726.340650,0.011644,16.766667,390.819421,562779.966667,ce261bd0-7144-11e5-ba71-058fbc01cf0b,male,...,2015-07-11 16:41:00,2,2013-09-13 16:15:00,2013-09-13 16:15:00,ce261bd0-7144-11e5-ba71-058fbc01cf0b,Slide,Shell Game,NaN,56.0,32.0
519,fd42a366-7144-11e5-ba71-058fbc01cf0b,42,9.532181,13726.340650,0.011644,16.766667,390.819421,562779.966667,ce261bd0-7144-11e5-ba71-058fbc01cf0b,male,...,2015-07-11 16:41:00,2,2013-10-22 12:59:00,2013-10-22 12:59:00,ce261bd0-7144-11e5-ba71-058fbc01cf0b,Switch,Shell Game,NaN,57.0,33.0
520,fd42a366-7144-11e5-ba71-058fbc01cf0b,42,9.532181,13726.340650,0.011644,16.766667,390.819421,562779.966667,ce261bd0-7144-11e5-ba71-058fbc01cf0b,male,...,2015-07-11 16:41:00,2,2013-10-23 15:04:00,2013-10-23 15:04:00,ce261bd0-7144-11e5-ba71-058fbc01cf0b,Warm-Up,Self Control Game,NaN,59.0,34.0
521,fd42a366-7144-11e5-ba71-058fbc01cf0b,42,9.532181,13726.340650,0.011644,16.766667,390.819421,562779.966667,ce261bd0-7144-11e5-ba71-058fbc01cf0b,male,...,2015-07-11 16:41:00,2,2013-10-23 15:12:00,2013-10-23 15:12:00,ce261bd0-7144-11e5-ba71-058fbc01cf0b,Self Control Game,Self Control Game,NaN,60.0,35.0

In [19]:
# Filter the merged DataFrame to show only dogs that are fixed
fixed_dogs_df = merged_df[merged_df['Dog_Fixed'] == True]

# Display the filtered DataFrame
fixed_dogs_df.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Last_Active_At,Membership_Type,Created_at,Updated_at,User_ID,Test_name,Subcategory_name,Rating,Rank_by_UserID,Rank_by_DogID
0,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2015-05-13 14:44:00,2,2013-10-10 18:47:00,2013-10-10 18:47:00,ce135766-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,NaN,31.0,1.0
1,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2015-05-13 14:44:00,2,2013-10-10 18:59:00,2013-10-10 18:59:00,ce135766-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,NaN,32.0,2.0
2,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2015-05-13 14:44:00,2,2013-10-10 19:00:00,2013-10-10 19:00:00,ce135766-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,NaN,33.0,3.0
3,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2015-05-13 14:44:00,2,2014-01-13 19:07:00,2014-01-13 19:07:00,ce135766-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,NaN,36.0,4.0
4,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2015-05-13 14:44:00,2,2014-01-21 22:33:00,2014-01-21 22:33:00,ce135766-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,NaN,37.0,5.0

In [24]:
# Filter the merged DataFrame to show only dogs that are not fixed
not_fixed_dogs_df = merged_df[merged_df['Dog_Fixed'] == False]

# Display the filtered DataFrame
not_fixed_dogs_df.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_Type,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Rating,Rank_by_UserID,Rank_by_DogID
312,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2014-10-09 17:19:00,2014-10-09 17:19:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,NaN,68.0,1.0
313,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2014-10-09 17:22:00,2014-10-09 17:22:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,NaN,69.0,2.0
314,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2014-10-09 17:25:00,2014-10-09 17:25:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,NaN,70.0,3.0
315,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2014-10-09 17:27:00,2014-10-09 17:27:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,NaN,71.0,4.0
316,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2015-01-13 16:56:00,2015-01-13 16:56:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,NaN,72.0,5.0

In [28]:
# Create a DataFrame for male dogs
male_dogs_df = merged_df[merged_df['Gender'] == 'male']

# Create a DataFrame for female dogs
female_dogs_df = merged_df[merged_df['Gender'] == 'female']

# Display the DataFrames
print("Male Dogs:")
print(male_dogs_df.head())

print("\nFemale Dogs:")
print(female_dogs_df.head())

Male Dogs:
                                  Dog ID  Total Tests Completed  \
22  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20
23  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20
24  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20
25  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20
26  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20

    Mean ITI (days)  Mean ITI (minutes)  Median ITI (days)  \
22         3.055452         4399.850877            0.00059
23         3.055452         4399.850877            0.00059
24         3.055452         4399.850877            0.00059
25         3.055452         4399.850877            0.00059
26         3.055452         4399.850877            0.00059

    Median ITI (minutes)  Time diff between first and last game (days)  \
22                  0.85                                     58.053588
23                  0.85                                     58.053588
24                  0.85                                     58.053588
25                  0.85                                     58.053588
26                  0.85                                     58.053588

    Time diff between first and last game (minutes)  \
22                                     83597.166667
23                                     83597.166667
24                                     83597.166667
25                                     83597.166667
26                                     83597.166667

                                 User ID Gender  ...  Membership_Type  \
22  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2
23  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2
24  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2
25  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2
26  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2

            Created_at          Updated_at  \
22 2013-05-13 16:17:00 2013-05-13 16:17:00
23 2013-05-22 18:54:00 2013-05-22 18:54:00
24 2013-05-22 18:55:00 2013-05-22 18:55:00
25 2013-05-22 18:56:00 2013-05-22 18:56:00
26 2013-05-22 18:58:00 2013-05-22 18:58:00

                                 User_ID  \
22  ce134a78-7144-11e5-ba71-058fbc01cf0b
23  ce134a78-7144-11e5-ba71-058fbc01cf0b
24  ce134a78-7144-11e5-ba71-058fbc01cf0b
25  ce134a78-7144-11e5-ba71-058fbc01cf0b
26  ce134a78-7144-11e5-ba71-058fbc01cf0b

                                  Dog_ID            Test_name  \
22  fd3d1b44-7144-11e5-ba71-058fbc01cf0b         Yawn Warm-up
23  fd3d1b44-7144-11e5-ba71-058fbc01cf0b            Yawn Game
24  fd3d1b44-7144-11e5-ba71-058fbc01cf0b  Eye Contact Warm-up
25  fd3d1b44-7144-11e5-ba71-058fbc01cf0b     Eye Contact Game
26  fd3d1b44-7144-11e5-ba71-058fbc01cf0b        Treat Warm-up

    Subcategory_name Rating  Rank_by_UserID  Rank_by_DogID
22           Empathy    NaN             1.0            1.0
23           Empathy    NaN             2.0            2.0
24           Empathy    NaN             3.0            3.0
25           Empathy    NaN             4.0            4.0
26     Communication    NaN             5.0            5.0

[5 rows x 39 columns]

Female Dogs:
                                 Dog ID  Total Tests Completed  \
0  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22
1  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22
2  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22
3  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22
4  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22

   Mean ITI (days)  Mean ITI (minutes)  Median ITI (days)  \
0        13.520467        19469.473016           0.008171
1        13.520467        19469.473016           0.008171
2        13.520467        19469.473016           0.008171
3        13.520467        19469.473016           0.008171
4        13.520467        19469.473016           0.008171

   Median ITI (minutes)  Time diff between first and last game (days)  \
0             11.766667                                    283.929815
1             11.766667                                    283.929815
2             11.766667                                    283.929815
3             11.766667                                    283.929815
4             11.766667                                    283.929815

   Time diff between first and last game (minutes)  \
0                                    408858.933333
1                                    408858.933333
2                                    408858.933333
3                                    408858.933333
4                                    408858.933333

                                User ID  Gender  ...  Membership_Type  \
0  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2
1  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2
2  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2
3  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2
4  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2

           Created_at          Updated_at  \
0 2013-10-10 18:47:00 2013-10-10 18:47:00
1 2013-10-10 18:59:00 2013-10-10 18:59:00
2 2013-10-10 19:00:00 2013-10-10 19:00:00
3 2014-01-13 19:07:00 2014-01-13 19:07:00
4 2014-01-21 22:33:00 2014-01-21 22:33:00

                                User_ID                                Dog_ID  \
0  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b
1  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b
2  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b
3  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b
4  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b

             Test_name  Subcategory_name Rating  Rank_by_UserID  Rank_by_DogID
0         Yawn Warm-up           Empathy    NaN            31.0            1.0
1            Yawn Game           Empathy    NaN            32.0            2.0
2  Eye Contact Warm-up           Empathy    NaN            33.0            3.0
3     Eye Contact Game           Empathy    NaN            36.0            4.0
4        Treat Warm-up     Communication    NaN            37.0            5.0

[5 rows x 39 columns]